# **Node.js Dependencies**
# Ignora la carpeta de dependencias de Node.js
node_modules/

# **Configuraciones y Herramientas de Desarrollo**
# Ignora carpetas de configuración de herramientas locales
.codegpt/
.vscode/

# **Archivos de Entorno**
# Ignora archivos que contienen variables de entorno sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# **Archivos de Log**
# Ignora archivos de registro generados por la aplicación
logs/
*.log

# **Archivos Temporales y de Backup**
# Ignora archivos temporales y de respaldo
*.tmp
*.temp
*.bak
*.backup
*.swp
*.swo

# **Directorios de Construcción y Distribución**
# (Si tu proyecto utiliza directorios de build o dist, descomenta las siguientes líneas)
# dist/
# build/
# public/

# **Archivos y Carpetas del Sistema Operativo**
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# **Archivos de IDEs y Editores de Código**
# Ignora archivos y carpetas generados por editores de código
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# **Archivos de Configuración de Herramientas de Seguridad**
# Ignora configuraciones locales de herramientas como ESLint, Prettier, etc.
.eslintcache
.nyc_output/

# **Otros Archivos y Carpetas Comunes**
# Ignora otros archivos que comúnmente no se necesitan en Git
.sass-cache/
.cache/
.history/
