# **Dependencias de Node.js**
node_modules/

# **Configuraciones y Herramientas de Desarrollo**
.codegpt/
.vscode/

# **Archivos de Entorno**
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# **Archivos de Log**
logs/
*.log

# **Archivos Temporales y de Backup**
*.tmp
*.temp
*.bak
*.backup
*.swp
*.swo

# **Directorios de Construcción y Distribución**
dist/
build/
public/

# **Archivos y Carpetas del Sistema Operativo**
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# **Archivos de IDEs y Editores de Código**
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.history/

# **Archivos de Configuración de Herramientas de Seguridad**
.eslintcache
.nyc_output/

# **Otros Archivos y Carpetas Comunes**
.sass-cache/
.cache/
