*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
public/gsap/PR/mp4/captura.mp4 !filter !diff !merge !text
public/webs/pubg/pubg.mp3 !filter !diff !merge !text
"public/webs/san valentin/Alan Walker, Sabrina Carpenter & Farruko  - On My Way.mp3" !filter !diff !merge !text
