# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/
.next/
out/

# Coverage
coverage/
.nyc_output/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archives
*.zip
*.tar.gz

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Notebooks
*.ipynb

# Pruebas y archivos temporales
pruebas/
archive/
temp/

