# Configuración de la base de datos PostgreSQL directa
DATABASE_URL="postgresql://766c16ba675a7033bba6828e8330a6528da3b9d18ffe0cfb271093aea31e41cb:sk_dkCgrYWhUrhGZPls4hUdO@db.prisma.io:5432/?sslmode=require"

# Configuración del servidor
PORT=3001
NODE_ENV=development

# JWT Secret (cambiar en producción)
JWT_SECRET=dev-jwt-secret-change-in-production

# URL del frontend
FRONTEND_URL=http://localhost:3000

# Configuración de cookies
COOKIE_SECRET=dev-cookie-secret-change-in-production