# Configuración de la base de datos PostgreSQL
# Cadena de conexión: postgresql://backend_db_lhz2_user:uRcP1glBw2cRnx8WvYuTjKJlBiCObpMC@dpg-d2p9bbmr433s73d0vm60-a/backend_db_lhz2

DB_USER=backend_db_lhz2_user
DB_PASSWORD=uRcP1glBw2cRnx8WvYuTjKJlBiCObpMC
DB_HOST=dpg-d2p9bbmr433s73d0vm60-a
DB_PORT=5432
DB_NAME=backend_db_lhz2

# Puerto del servidor
PORT=3000